{% extends "SamplesCibercafeBundle::layout.html.twig" %}

{% block title %}Listado de Usuarios y Servicios Solicitados{% endblock %}

{% block content_center %}
<div class="nav navbar navbar-inner">
    <h3>
        Listado de Usuarios y Servicios Solicitados            
    </h3>
</div>
<table class="table table-bordered table-striped table-hover">
    <caption>
        <div class="nav navbar navbar-inner">
            <div class="pull-left span3" style="margin:25px;">
                Total <strong>{{ paginator.totalItems }}</strong> elementos, mostrando del {{ paginator.startPageItem}} al {{ paginator.endPageItem }}
            </div>
            <div class="pagination pagination-right span4">
            {{ simple_paginator_render('_app_listado_usuarios_y_servicios', null, {
                                        'routeParams' : {},
                                        'container_class' : 'simple_paginator',
                                         'firstPageText'  : '««',
                                        'firstEnabledClass': 'first',
                                        'firstDisabledClass': 'disabled',
                                        'previousPageText': '«',
                                        'previousEnabledClass': 'left',
                                        'previousDisabledClass': 'disabled',
                                        'currentClass': 'active',
                                        'nextPageText': '»',
                                        'nextEnabledClass': 'right',
                                        'nextDisabledClass': 'disabled',
                                        'lastPageText': '»»',
                                        'lastEnabledClass': 'last',
                                        'lastDisabledClass': 'disabled'
                                })}}
                </div>            
            </div>
        </caption>
        <thead>
            <tr style="background-color: #F5F5F5;">
                <th>#</th>
                <th class="">Nombre</th>
                <th class="">Apellidos</th>
                <th class="">Servicios</th>
            </tr>
        </thead>
        <tbody>
	 {% for objeto in listado %}
                <tr>
                    <td>{{ paginator.startPageItem + loop.index0 }}</td>
                    <td>
                        <span>{{ objeto.nombre}}</span>
                    </td>
                    <td>
                        <span>{{ objeto.apellidos}}</span>
                    </td>
                    <td>
                        {% for servicio in objeto.servicios %}
                            <span>{{ servicio.tipo}}</span><br>
                        {% endfor %}
                        
                    </td>
                </tr>
	{% endfor %}
            </tbody>
        </table>

{% endblock %}

{% block add_javascript %}
 <script>
     $('#left-menu-3').addClass('active');
</script>     
{% endblock %}
