<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <tbody>
        <tr>
            <th>Firstname</th>
            <td>{{ object.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ object.lastname }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{% if object.birthdate %}{{ object.birthdate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ object.phone }}</td>
        </tr>
    </tbody>
</table>
