{%raw%}  
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <caption>
            <div class="col-lg-6">
                Page: {{$ctrl.page}}, show from {{($ctrl.page - 1) * $ctrl.limit + 1}} to {{$ctrl.page * $ctrl.limit}} of {{$ctrl.total}} elements
            </div>
            <div class="col-lg-6 text-right">
                <button type="button" ng-click="$ctrl.load($ctrl.links.first.href)" class="btn btn-default">first</button> 
                <button type="button" ng-click="$ctrl.load($ctrl.links.previous.href)" class="btn btn-default">previous</button> 
                <button type="button" ng-click="$ctrl.load($ctrl.links.self.href)" class="btn btn-default">current</button> 
                <button type="button" ng-click="$ctrl.load($ctrl.links.next.href)" class="btn btn-default">next</button> 
                <button type="button" ng-click="$ctrl.load($ctrl.links.last.href)" class="btn btn-default">last</button> 
            </div>
        </caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Website</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="company in $ctrl.companies">
                <td>{{ company.name}}</td>
                <td>{{ company.country | country}}</td>
                <td>{{ company.website}}</td>
                <td><a href="{{ company._links.self.href}}">Edit {{company.id}}</a></td>
            </tr>
        </tbody>
    </table>  
{%endraw%}
