<div class="">
    <ul class="nav nav-list bs-docs-sidenav" id="left-menu-dashboard-list">
        <li id="left-menu-1"><a href="{{path('_app_listado_usuarios_asociados')}}">
                <i class="icon-user"></i>
                <i class="icon-chevron-right"></i>
                Clientes Asociados</a>
        </li>
        <li id="left-menu-2"><a href="{{path('_app_listado_usuarios_eventuales')}}">
                <i class="icon-user"></i>
                <i class="icon-chevron-right"></i>
                Clientes Eventuales</a>
        </li>
        <li id="left-menu-3"><a href="{{path('_app_listado_usuarios_y_servicios')}}">
                <i class="icon-tasks"></i>
                <i class="icon-chevron-right"></i>
                Clientes y Servicios</a>
        </li>
        <li id="left-menu-4"><a href="{{path('_app_listado_servicios_ofertados')}}">
                <i class="icon-star"></i>
                <i class="icon-chevron-right"></i>
                Servicios Ofertados</a>
        </li>
        <li id="left-menu-5"><a href="{{path('_app_listado_servicios_reservacion')}}">
                <i class="icon-home"></i>
                <i class="icon-chevron-right"></i>
                Reservaciones</a>
        </li>
        <li id="left-menu-6"><a href="{{path('_app_listado_recaudacion_total')}}">
                <i class="icon-star"></i>
                <i class="icon-chevron-right"></i>
                Recaudación Total</a>
        </li>
        <li id="left-menu-7"><a href="{{path('_app_listado_menu_del_dia')}}">
                <i class="icon-glass"></i>
                <i class="icon-chevron-right"></i>
                Menú del día</a>
        </li>
        <li id="left-menu-8"><a href="{{path('_app_listado_software_disponibles')}}">
                <i class="icon-hdd"></i>
                <i class="icon-chevron-right"></i>
                Softwares Disponibles</a>
        </li>
        <!--
        <li id="left-menu-9" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-folder-open"></i>
                <i class="icon-chevron-right"></i>Ejemplos Avanzados
            </a>
            <ul class="dropdown-menu" style="top:-1px;left: 258px">
                <li><a href="{{path('crud_usuario_asociado_eventual')}}">CRUD Avanzado</a></li>
                <li><a href="{{path('crud_ajax_usuario_asociado_eventual')}}">CRUD Avanzado con AJAX</a></li>
            </ul>
        </li>
        -->
    </ul>    
</div>